@import url(../../fonts/Inter/inter.css);
@import url(../../vendor/normalize.css);

.body {
  display: flex;
}

.chatList {
  width: 310px;
  background: #3aa1ea;
}

.chatList__link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  margin-top: 21px;
  margin-right: 10px;
  margin-left: auto;
  text-align: right;
  display: block;
  color: #ffffff;
}

.chatList__link:hover {
  opacity: 0.6;
}

.chatList__search {
  background: #efefef;
  width: 95%;
  display: block;
  outline: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
  height: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  background: url("../../image/search-icon.svg") no-repeat scroll 7px 7px;
  background-color: white;
  margin-top: 23px;
  text-align: center;
  color: #999999;
  border-radius: 5px;
}

.chatList__chat {
  list-style: none;
  margin-top: 14px;
}

.chat__person {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  border-top: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  cursor: pointer;
}

.chat__person:hover {
  opacity: 0.7;
}

.person__avatar {
  object-fit: cover;
  border-radius: 100%;
  background: #efefef;
  width: 47px;
  height: 47px;
}

.person__info {
  width: 55%;
  margin-top: 0;
  margin-left: 10px;
}

.person__name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;

  font-size: 13px;
  line-height: 13px;
  margin-top: 3px;

  color: #1e1e1e;
}

.person__lastMessage {
  font-family: "Inter";
  font-style: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */

  color: #ffffff;
}

.person__message {
  margin-left: auto;
  margin-right: 10px;
}

.persone_message_date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
  /* identical to box height, or 144% */

  text-align: right;

  color: #ffffff;
}

.persone_message_quantity {
  margin-top: 14px;
  background: #3369f3;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  color: #ffffff;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: #00518a;
}

.chats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.disable {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat__menu {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;

  color: #999999;
}
.chat__header {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  border-bottom: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.chat_header_avatar {
  object-fit: cover;
  border-radius: 100%;
  background: #efefef;
  width: 34px;
  height: 34px;
}

.chat_header_name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  margin-top: 10px;
  margin-left: 10px;
  color: #ffffff;
}

.chat_header_btn {
  margin-left: auto;
  cursor: pointer;
  margin-right: 10px;
}

.chat_header_btn:hover {
  opacity: 0.6;
}

.chat__section {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.chat_section_message {
  display: flex;
  width: max-content;
  margin-top: 10px;
  border-radius: 0px 10px 10px 10px;
  background: #f8f8f8;
  padding-left: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.message__text {
  max-width: 410px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  color: #1e1e1e;
}

.message__date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: 0px;

  color: #999999;
}

.chat_section_meMessage {
  display: flex;
  width: max-content;
  margin-left: auto;
  margin-right: 0;
  margin-top: 10px;
  border-radius: 0px 10px 10px 10px;
  background: #f8f8f8;
  padding-left: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.chat__footer {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  bottom: 10px;
  border-top: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.chat_btn {
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
}

.chat_btn:hover {
  opacity: 0.6;
}

.chat__dopMenu {
  margin-left: 0;
  cursor: pointer;
}

.chat__dopMenu:hover {
  opacity: 0.6;
}

.chat_footer_input {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  border: none;
  border-radius: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */
  padding-left: 10px;

  color: #999999;
}

.popup {
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.popup__btn {
  margin-top: 16px;
  display: flex;
  cursor: pointer;
}

.popup__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */

  margin-left: 15px;
  color: #1e1e1e;
}

.popup__btn:hover {
  opacity: 0.6;
}

.popupPerson {
  position: fixed;
  top: 60px;
  right: 40px;
}

.popupFile {
  position: fixed;
  bottom: 60px;
  left: 320px;
}
