.popup__btn {
    cursor: pointer;
    border: none;
    outline: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    /* identical to box height, or 100% */
  
    text-align: center;
  
    color: #ffffff;
    background: #3369f3;
    border-radius: 8px;
    width: 280px;
    height: 37px;
    margin-left: 30px;
    margin-top: 160px;
  }