mixin inputs(name ,types, placeholders, id)
  div.popup__container 
    p.popup_container_text=name
    input.input.popup_container_input(name=id+"Input" type=types id="card-"+id placeholder=placeholders required  minlength="2" maxlength="200")


html(lang='ru')
  head 
    script(src='./index.ts' type='module')
  body.body 
    div.popup
      p.popup__title Вход
      form(class='form popup__inputs', name='login')
        label
          +inputs('Логин','login', 'Введите Логин', 'login')
          span.popup_error.card-login-error 
        label
          +inputs('Пароль','password', 'Введите Пароль','onepassword')
          span.popup_error.card-onepassword-error 
        a(href="./chat/chat.html")
        button.popup__btn(type="submite") Авторизоваться
      a.popup__redirect(href="./signup/signup.html") Нет аккаунта?