mixin inputs(name,types, placeholders)
  div.popup__container 
    p.popup_container_text name
    input.popup_container_input.input(type=types placeholder=placeholders)


html(lang='ru')
  head 
    script(src='./index.js' type='module')
  body.body 
    div.popup
      p.popup__title Вход
    div.popup_type_login
      form.popup__inputs.form
        +inputs('Логин','text', 'Введите Логин')
        span.popup__error.profile-login
        +inputs('Пароль','password', 'Введите Пароль')
        span.popup__error.profile-password
      a(href="./chat/chat.html")
        button(type="submit").popup__btn Авторизоваться
      a.popup__redirect(href="./signup/signup.html") Нет аккаунта?