mixin inputs(name ,types, placeholders, id)
  div.popup__container 
    p.popup_container_text= name
    input.input.popup_container_input(name=id+"Input" type=types id="card-"+id placeholder=placeholders required  minlength="2" maxlength="200")


html(lang='ru')
  head 
    script(src='./signup.ts' type='module')
  body.body 
    div.popup
      p.popup__title Регистрация
      form(class='form popup__inputs', name='signup')
        label
          +inputs('Почта','Email', 'Введите Почту', 'email')
          span.popup_error.card-email-error 
        label 
          +inputs('Логин','login', 'Введите Логин', 'login')
          span.popup_error.card-login-error 
        label 
          +inputs('Имя','name', 'Введите Имя','name')
          span.popup_error.card-name-error 
        label
          +inputs('Фамилия','surname', 'Введите Фамилию','surname')
          span.popup_error.card-surname-error 
        label
          +inputs('Телефон','tel', 'Введите Телефон','tel')
          span.popup_error.card-tel-error 
        label
          +inputs('Пароль','password', 'Введите Пароль','onepassword')
          span.popup_error.card-onepassword-error 
        label
          +inputs('Пароль ещё раз','password', 'Введите Пароль повторно','twopassword')
          span.popup_error.card-twopassword-error 
        
        button.popup__btn(type="submite") Зарегистрироваться
      a.popup__redirect(href="../index.html") Войти?