@import url(./fonts/Inter/inter.css);
@import url(./vendor/normalize.css);

.disable{
    visibility: hidden;
    opacity: 0;
    display: none;
}

body {
    background: #007BD4;
    display: flex;
}

.btn__back{
    background: white;
    width: 64px;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.btn__back:hover{
    opacity: 0.8;
}
.btn__image{
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
     transform: rotate(180deg);
}

.popup{
    border-radius: 62px;
    background: white;
    width: 610px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 70px;
}

.popup__photo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
    background-color: #00518A;
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
}

.popup__photo:hover{
    opacity: 0.6;
}

.popup__name{
    margin-top: 20px;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */

text-align: center;

color: #1E1E1E;
}
.form{
 width: 95%;
 margin-left: auto;
 margin-right: auto;
}
.form__element{
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px solid #acacac;
}

.element__name{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 13px;
color: #1E1E1E;
}

.element__input{
    margin-left: auto;
    outline: none;
    border: none;
    margin-right: 0px;
    width: 90%;
    text-align: right;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 13px;
/* identical to box height, or 100% */

text-align: right;

color: #999999;
}

.popup__btns{
    margin-top: 39px;
     width: 95%;
 margin-left: auto;
 margin-right: auto;
}

.popup__btn{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 13px;
/* identical to box height, or 100% */
cursor: pointer;
margin-top: 21px;
color: #3369F3;
}

.popup__btn:hover{
    opacity: 0.6;
}

.popup_btn_back{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 13px;
/* identical to box height, or 100% */
cursor: pointer;
margin-top: 21px;
color: #FF0000;
}

.popup_btn_back:hover{
    opacity: 0.6;
}

.form__btn{
    margin-top: 60px;
    display: block;
    width: 280px;
height: 37px;
background: #3369F3;
border-radius: 8px;
outline: none;
border: none;
cursor: pointer;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 13px;
/* identical to box height, or 100% */

text-align: center;
margin-left: auto;
margin-right: auto;
color: #FFFFFF;
}

.form__btn:hover{
   opacity: 0.6;
}